body {
    background-color: black;
    color: white;
    padding: 0px;
    margin: 0px;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}

#heading {
    background: rgb(37, 8, 96);
    height: 150px;
    width: 350px;
    text-align: center;
}
button{
    margin: 10px;
}
h1{
    padding: 15px;
}