body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.heading {
    display: flex;
    justify-content: space-between;
}

.images{
    position: relative;

}

.option{
    padding-top: 30px;
} 

.but , .pro{
    margin-right: 10px;
    height: 30px;
    border: none;
    background-color: white;
    font-size: 20px;
}

.searchbar{
    width: 400px;
    height: 30px;
    position: relative;
    top: 30px;
}

.Profile{
    padding-top: 30px;
    padding-right: 20px;
}

.middle{
    background-color: rgb(245, 245, 237);
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
    justify-content: center  ;
}